<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ("head") %>
 <link rel="stylesheet" href="/path/to/your/css/file.css">
</head>
<body>
    <h2>Post a message</h2>
    <form action="/postmessage" class="postit" method="POST">
        <label for="name">Your Name</label>
        <input type="text" id="name" name="name" required>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
        <button type="submit">Post a message</button>
    </form>
    <div class="users">
        <% for (let i = 0; i < users.length; i++) { %>
            <h2><%= users[i].name %>, <%= users[i].createdAt %></h2>
            <p><%= users[i].message %></p>
            <div class="commentcontainer">
                <% if (users[i].comments.length > 0) { %>
                    <% users[i].comments.forEach(function(comment) { %>
                        <div class="comment">
                            <p><%= comment.text %></p>
                            <small><%= comment.createdAt %></small>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>No comments yet.</p>
                <% } %>
            </div>
            <form action="/postcomment" class="postcomment" method="POST">
                <label for="comment-<%= users[i]._id %>">Type your comment here</label>
                <input type="text" id="comment-<%= users[i]._id %>" name="comment" required>
                <input type="hidden" name="usersId" value="<%= users[i]._id %>">
                <button type="submit">Comment</button>
            </form>
        <% } %>
    </div>
</body>
</html>
